.product-list {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > .product {
    margin-bottom: 24px;
  }
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-btn {
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    background-color: #50ff24;
    font-size: 13px;
    padding: 13px 10px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;

    // &[disabled|="true"] {
    //   opacity: 0.5;
    // }
  }
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      background-color: #fff;
      padding: 20px;
      padding-top: 30px;
      max-width: 500px;
      width: 100%;
      min-height: 360px;
      border-radius: 10px;
    }
  }
}
