.address {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  input {
    border: none;
    border-bottom: 1px solid rgb(92, 92, 92);
    padding: 10px 5px;
    margin-bottom: 10px;
    background-color: transparent;
  }
  button {
    transition: 0.3s;
    margin-top: 10px;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgb(92, 92, 92);
    cursor: pointer;
  }
}
.x {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -57px;
  img {
    max-width: 100%;
    width: 20px;
  }
}
