* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  background-color: #4caf50;
  height: 80px;
  // margin-top: -26px;
  padding: 4px;
  margin-bottom: 20px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__right {
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
  }
  &__title {
    padding: 3px;
    background-color: rgb(168, 168, 168);
    margin-right: 5px;
    border-radius: 5px;
    padding: 8px;
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  &__auth {
    border-radius: 5px;
    max-width: 200px;
    // background-color: #ff7671;
    transition: 0.3s;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    max-width: 100px;
    text-align: center;
    &_gr {
      // padding: 0;
      background-color: rgb(172, 255, 77);
    }
    &_rd {
      // padding: 0;
      background-color: #ff7671;
    }
  }
}
h6 {
  margin: 0;
}
body {
  margin: 0;
}
